.movies-list__container {
    font-size: 14px;
    color: red;
    background-color: #C2C2C2;
    width: 100%;
    min-height: 100%;
}

.movies-list__page_navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.movies-list__navigate_butons {
    position: relative;
    padding: 11px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #4D41C0;
    color: #4D41C0;
    margin: 15px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
}

.movies-list__navigate_butons:hover {
    transform: scale(1.03);
    box-shadow: 0.5px 0.5px 3px 0.5px #929292;
}

.movies-list__navigate_butons:active {
    transform: scale(0.98);
    box-shadow: 0 transparent;
}

.movies-list__navigate_butons:disabled {
    color: gray;
    background-color: darkgray;
    border: 1px solid gray;
}

.movies-list__navigate_butons:disabled:hover {
    transform: scale(1);
    box-shadow: 0px 0px 0px black;
    cursor: default;
}

.movies-list__page_number {
    color: #4D41C0;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    cursor: default;
}

.movies-list__arrowhead {
    position: absolute;
    font-size: 40px;
    left: 13px;
    top: -6px;
}

.movies-list__movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    flex: 0 1 auto;
    width: 95%;
    max-width: 2000px;
}

.movies-list__movie_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0 1 auto;
    width: 280px;
    height: 380px;
    margin: 20px 10px;
    background-color: white;
}

.movies-list__movies_image {
    width: 100%;
    height: 146px;
    background-color: #4D41C0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movies-list__image {
    width: 34.5%;
    height: 100%;
}

.movies-list__movie_datas {
    padding: 0 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.movies-list__movies_title {
    margin: auto;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
}

.movies-list__movies_rating {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.movies-list__ratting {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.movies-list__ratting:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.movies-list__ratting:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
    font-size: 30px;
    color: #ccc;
}

.movies-list__ratting:not(:checked)>label:before {
    content: '★ ';
}

.movies-list__ratting>input:checked~label {
    color: #ffc700;
}

.movies-list__movies_buttons {
    width: 180px;
    height: 40px;
    border-radius: 4px;
    background-color: #4D41C0;
    color: white;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    margin: 10px auto;
}

.movies-list__movies_buttons:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 2px 1px gray;
}

.movies-list__movies_buttons:active {
    transform: scale(0.98);
    box-shadow: 0 transparent;
}