<div class="movies-list__container">
    <div class="movies-list__page_navigation">
        <button class="movies-list__navigate_butons" (click)="previusMoviesList()">
      <span class="movies-list__arrowhead" style="left: 12px;"> &#8249;</span>
    </button>
        <span class="movies-list__page_number"> 1 de 23</span>
        <button class="movies-list__navigate_butons" (click)="nextMoviesList()">
      <span class="movies-list__arrowhead" style="left: 13px"> &#8250; </span>
    </button>
    </div>
    <div class="movies-list__movies">
        <div class="movies-list__movie_container">
            <div class="movies-list__movies_image">
                *****//image//*****
            </div>
            <div class="movies-list__movie_datas">
                <div class="movies-list__movies_title">
                    *****//title//*****
                </div>
                <div class="movies-list__movies_rating">
                    <span>ratting</span>
                    <div class="movies-list__ratting">
                        <input type="radio" id="star5" name="rate" value="5" [checked]="false" disabled />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" [checked]="false" disabled />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" [checked]="false" disabled />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" [checked]="false" disabled />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" [checked]="false" disabled />
                        <label for="star1" title="text">1 star</label>
                    </div>
                </div>
                <button class="movies-list__movies_buttons" (click)="selectMovie()"> avaliar </button>
            </div>
        </div>
        <div class="movies-list__movie_container">
            <div class="movies-list__movies_image">
                *****//image//*****
            </div>
            <div class="movies-list__movie_datas">
                <div class="movies-list__movies_title">
                    *****//title//*****
                </div>
                <div class="movies-list__movies_rating">
                    <span>ratting</span>
                    <div class="movies-list__ratting">
                        <input type="radio" id="star5" name="rate" value="5" [checked]="false" disabled />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" [checked]="false" disabled />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" [checked]="false" disabled />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" [checked]="false" disabled />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" [checked]="false" disabled />
                        <label for="star1" title="text">1 star</label>
                    </div>
                </div>
                <button class="movies-list__movies_buttons" (click)="selectMovie()"> avaliar </button>
            </div>
        </div>
        <div class="movies-list__movie_container">
            <div class="movies-list__movies_image">
                *****//image//*****
            </div>
            <div class="movies-list__movie_datas">
                <div class="movies-list__movies_title">
                    *****//title//*****
                </div>
                <div class="movies-list__movies_rating">
                    <span>ratting</span>
                    <div class="movies-list__ratting">
                        <input type="radio" id="star5" name="rate" value="5" [checked]="false" disabled />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" [checked]="false" disabled />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" [checked]="false" disabled />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" [checked]="false" disabled />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" [checked]="false" disabled />
                        <label for="star1" title="text">1 star</label>
                    </div>
                </div>
                <button class="movies-list__movies_buttons" (click)="selectMovie()"> avaliar </button>
            </div>
        </div>
        <div class="movies-list__movie_container">
            <div class="movies-list__movies_image">
                *****//image//*****
            </div>
            <div class="movies-list__movie_datas">
                <div class="movies-list__movies_title">
                    *****//title//*****
                </div>
                <div class="movies-list__movies_rating">
                    <span>ratting</span>
                    <div class="movies-list__ratting">
                        <input type="radio" id="star5" name="rate" value="5" [checked]="false" disabled />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" [checked]="false" disabled />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" [checked]="false" disabled />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" [checked]="false" disabled />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" [checked]="false" disabled />
                        <label for="star1" title="text">1 star</label>
                    </div>
                </div>
                <button class="movies-list__movies_buttons" (click)="selectMovie()"> avaliar </button>
            </div>
        </div>
        <div class="movies-list__movie_container">
            <div class="movies-list__movies_image">
                *****//image//*****
            </div>
            <div class="movies-list__movie_datas">
                <div class="movies-list__movies_title">
                    *****//title//*****
                </div>
                <div class="movies-list__movies_rating">
                    <span>ratting</span>
                    <div class="movies-list__ratting">
                        <input type="radio" id="star5" name="rate" value="5" [checked]="false" disabled />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" [checked]="false" disabled />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" [checked]="false" disabled />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" [checked]="false" disabled />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" [checked]="false" disabled />
                        <label for="star1" title="text">1 star</label>
                    </div>
                </div>
                <button class="movies-list__movies_buttons" (click)="selectMovie()"> avaliar </button>
            </div>
        </div>
        <div class="movies-list__movie_container">
            <div class="movies-list__movies_image">
                *****//image//*****
            </div>
            <div class="movies-list__movie_datas">
                <div class="movies-list__movies_title">
                    *****//title//*****
                </div>
                <div class="movies-list__movies_rating">
                    <span>ratting</span>
                    <div class="movies-list__ratting">
                        <input type="radio" id="star5" name="rate" value="5" [checked]="false" disabled />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" [checked]="false" disabled />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" [checked]="false" disabled />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" [checked]="false" disabled />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" [checked]="false" disabled />
                        <label for="star1" title="text">1 star</label>
                    </div>
                </div>
                <button class="movies-list__movies_buttons" (click)="selectMovie()"> avaliar </button>
            </div>
        </div>
    </div>
</div>